.box-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: calc(100vh - 85px);
  flex: 1;
  flex-wrap: wrap;
}

.box1 {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  height: 173px;
  width: 173px;
  overflow: hidden;
}

.box2 {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  height: 409px;
  width: 173px;
  overflow: hidden;
  background-color: aliceblue;
  border: 3px solid black;
}

.box1 img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}
