<form class="content-container">
  <div class="content" style="align-items: flex-end">
    <h1>Your hobbies:</h1>
  </div>
  <div class="content">
    <select
      [(ngModel)]="selectedHobbies[0]"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="null">none</option>
      <option *ngFor="let hobby of hobbies">{{ hobby.hobby }}</option>
    </select>
    <br />
    <select
      [(ngModel)]="selectedHobbies[1]"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="null">none</option>
      <option *ngFor="let hobby of hobbies">{{ hobby.hobby }}</option>
    </select>
    <br />
    <select
      [(ngModel)]="selectedHobbies[2]"
      [ngModelOptions]="{ standalone: true }"
    >
      <option value="null">none</option>
      <option *ngFor="let hobby of hobbies">{{ hobby.hobby }}</option>
    </select>
  </div>
  <div class="content" style="align-items: flex-start">
    <button type="submit" (click)="onSubmit()"></button>
  </div>
</form>
